.events {
  height: 100%;

  &.with-filters {
    .events-container {
      min-height: 36em;
      max-height: 90%;
      overflow: scroll;
    }
  }
  .events-container {
    min-height: 36em;
    max-height: 100%;
    overflow: scroll;
  }
}

.empty-list {
  margin: 15vh 0;
}
