@import '../../shared/styles/variables';

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;

  @media (min-width: 50em) {
    padding: 2em;
  }
  &.completed {
    background: $success;
    color: $white;
  }
  .message {
    text-align: center;
  }
  &__button {
    margin: 0 1em;
    &--begin {
      color: $white;
      background: $success;
      border: 1px solid $success;
    }

    &--stop {
      color: $white;
      background: $alert;
      border: 1px solid $alert;
    }
  }
}
