.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;

  @media (min-width: 50em) {
    padding: 2em;
  }
  &.completed {
    background: #32d296;
    color: #fff;
  }
  .message {
    text-align: center;
  }
  &__button {
    margin: 0 1em;
    &--begin {
      color: white;
      background: #32d296;
      border: 1px solid #32d296;
    }
    // &--pause {
    //   background: #32f324;
    //   border: 1px solid #32f324;
    // }
    &--stop {
      color: white;
      background: #f37e24;
      border: 1px solid #f37e24;
    }
  }
}
