@import '../../shared/styles/variables';

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75em 1em;
  &__primary {
    display: flex;
    flex-direction: column;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.event {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }
  &__title {
    text-align: left;
    margin-bottom: 0;
    font-size: 1rem;
  }
  &__label {
    padding: 0.5em 1em;
    text-align: right;
    &.complete {
      background: $success-bg;
      color: $success;
    }
    &.cancelled {
      background: $alert-bg;
      color: $alert;
    }
    &.pending {
      background: $standard-bg;
      color: $standard;
    }
  }
  &__destination {
    text-align: left;
  }
}
